<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
    <head th:fragment="common_header(titleSite)">
        <script th:unless="${isProd}"  type="module" src="http://localhost:8081/@vite/client"></script>
        <title th:replace="${titleSite}?: _">Vite Spring Boot</title>
        <link th:if="${isProd}" rel="stylesheet" th:href="@{/__${cssSrc}__}" />
        <link  rel="stylesheet" href="/index.css" />
    </head>
    <body th:fragment="common_body(content, scriptsApp)" >
        <header>
            <div>Header</div>
            <img src="vite.svg">
        </header>
        <main th:replace="${content}"></main>
        <footer>Footer</footer>
        <th:block th:replace="${scriptsApp}?: _" />
    </body>
</html>
